.background {
    background-image: url('/assets/images/win.png');
    background-size:1700px;
    background-repeat: no-repeat;
    height: 100vh; /* S'assure que l'image couvre toute la hauteur */
    display: block;
    margin-left: 5%;
    margin-right: auto;
  }

  #music-trigger {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    z-index: -1; /* Le placer en arrière-plan */
  }
  